<% provide(:h1, @inventory.user.vname + "'s Inventory") %>
<p id="notice"><%= notice %></p>
<div class="pageformat">
   <p>Placeholder for Inventory slots!</p>
   <p>Items will be put in here!</p>
</div>
<br>
<p class="formlinks"><%= link_to "Back", user_path(@inventory.user) %></p>
